<h1>@ViewData["Title"]</h1>
<body style="background-color:mintcream; text-align:center;">
    <header>



        <h1>About Us....</h1>
    </header>
    <hr>
    <footer>
        <p>
            Shivaji University, established in 1962, is named after the Great Maratha Warrior and founder of the Maratha empire Chhatrapati Shivaji. It was inaugurated on 18th November, 1962 by Dr. Radhakrishnan, the then President of India. One of the major objectives behind foundation of this University was to cater to the regional needs of South Maharashtra.
            <br>
        </p>
    </footer>




</body>