<div class="text-center">
    <h1 class="display-4">WELCOME TO STUDENTS</h1>
    <h1 class="display-4">SHIVAJI UNIVERSITY</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <img src="https://indywp.com/wp-content/uploads/2018/09/SHIVAJI-UNIVERSITY-RESULT-2020-150x150.jpg" alt="alternatetext" width="500" height="600">
    </div>
    <div>
        <img src="https://www.careerindia.com/img/2014/06/12-20-shivajiuniversity.jpg" alt="alternatetext">
    </div>
</div>