@{
    ViewData["Title"] = "Contact us";
}
<h1>@ViewData["Title"]</h1>

<div>
    <lable>
        Enter Your Name:
    </lable>
    <br />
    <input type="text" />
    <br />
    <label>
        Reason to contact us
    </label>
    <br />
    <textarea style="height:200px">

    </textarea>
    <br />
    <input type="submit" />
</div>

